@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>个人设备</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
   
    <link href="~/Scripts/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
    
</head>
<body style="padding:10px">
    <div>
        <table id="table" class="table table-condensed">
            <thead>
                <tr>
                    <th>设备编号</th>
                    <th>设备名称</th>
                    <th>存放地点</th>
                    <th>状态</th>
                </tr>
            </thead>
        </table>
    </div>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-table-min.js"></script>
<script src="~/Scripts/bootstrap-table-zh-CN.min.js"></script>
<script src="~/Scripts/bootstrapValidator.min.js"></script>
<script src="~/Scripts/zh_CN.js"></script>
<script src="~/Scripts/UseEquipment.js"></script>
</body>
</html>

