@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>设备维修管理系统</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
</head>
<body style="padding:10px">
        <div class="jumbotron">
            <h1>
                Hello, world!
            </h1>
            <p>
                This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="#">Learn more</a>
            </p>
        </div>
</body>
</html>
